<div class="text-center content-block-alt pt-2">
    <img src="/imgs/stamp.png" alt="" style="width:100px; margin: 0 auto" />
</div>
<footer class="grid layout" x-data="{ open: 0 }">
    <div class="item-center container">

        <div class="footer-grid">
            <div id="contact-us">
                <h5 class="underline">Pages</h5>
                <nav>
                    <ul>
                        {{ with .Site.Menus.main}}
                        {{ range sort . }}
                        <li class="navigation-item">
                            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                        <li>&nbsp;</li>
                        {{ with .Site.Menus.footer}}
                        {{ range sort . }}
                        <li class="navigation-item">
                            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <div>
                <h5 id="contact" class="underline">Contact</h5>
                <!-- <h5>Contact us</h5>
                 -->
                <!-- <div class="x-large follow">
                    {{ with .Site.Menus.social}}
                        {{ range sort . }}
                            {{  if .URL }}
                                <a href="{{ .URL | absLangURL }}" target="_blank"><i class="{{ .Name }}"></i></a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div> -->

                <div class="mb-4">
                    <div>
                        <h6>Hours:</h6>
                        <p>6.00 am - 6.00 pm Weekdays</p>

                        <h6>Phone:</h6>
                        <p>
                            <a href="tel:+6421988961" class="blue-dark">+64 (0) 21 988 961</a>
                        </p>
                        <a href="/contact" class="btn">Ask a question <svg class="icon">
                                <use href="/imgs/icons.svg#bubbles"></use>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div>
                <h5>Clinics <!-- <a href="/clinics" class="float-right small pt-1">See all</a> --></h5>
                <div class="clinic-span grid two" style="--columns: 1fr 1fr">

                    <div class="card bg-blue-dark white">
                        <h4 class="border-bottom-white">Tauranga Specialist Centre</h4>
                        <address class="pb-2">

                            752 Cameron Rd,<br />
                            Tauranga 3110<br /><br />
                            <h6>Phone:</h6>
                            <a href="tel:+647545715548" class="white">+64 (754) 571 5548</a><br />
                            <h6>Fax:</h6>
                            +64 (754) 754 5549<br />

                        </address>
                        <a @click="open=1" class="btn">Map <svg class="icon">
                                <use href="/imgs/icons.svg#map_marker"></use>
                            </svg></a>
                    </div>

                    <div class="card bg-blue-dark white">
                        <h4 class="border-bottom-white">East Bay Specialist Centre</h4>
                        <address class="pb-2">

                            Pheonix House,
                            Pyne St<br />
                            Whakatane 3120<br /><br />
                            <h6>Phone:</h6>
                            <a href="tel:+647303072029" class="white">+64 (730) 307 2029</a><br />
                            <h6>Fax:</h6>
                            +64 (730) 308 9720<br />
                        </address>
                        <a @click="open=2" class="btn">Map
                            <svg class="icon">
                                <use href="/imgs/icons.svg#map_marker"></use>
                            </svg></a>
                    </div>

                    <!-- <h6>Map</h6> 
                        <a onclick="scrollToMap()" class="btn bg-red" @click="open = ! open" id="map">Map &nbsp;<i
                                class="lni lni-map-marker"></i></a>-->
                </div>
            </div>
        </div>
    </div>
    </div>
    <div x-show="open==1"  class="map_popup bg-white item-full animated fadeIn" @click="open=0">
        <div class="map_wrapper">
            <button class="bg-red close-button" @click="open=0">Close <svg class="icon">
                    <use href="/imgs/icons.svg#cross"></use>
                </svg></button>

            <div class="map">
                <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkfWWJRx_OrE5FbK-kcK6sTwHLD93LKfs&zoom=18
                &q=SKIN+Dermatology+Institute+752+Cameron+Road,+Tauranga+South,+Tauranga+3112">
                </iframe>
            </div>
        </div>
    </div>
    <div x-show="open==2"  class="map_popup bg-white item-full animated fadeIn" @click="open=0">
        <div class="map_wrapper">
            <button class="bg-red close-button" @click="open=0">Close <svg class="icon">
                    <use href="/imgs/icons.svg#cross"></use>
                </svg></button>

            <div class="map">
                <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkfWWJRx_OrE5FbK-kcK6sTwHLD93LKfs&zoom=18
                &q=east+bay+specialist+centre">
                </iframe>
            </div>
        </div>
    </div>
</footer>

<div class="align-center copyright small p-2"> &copy; {{ now.Format "2006"}} {{ .Site.Params.legal_title }}. All
    rights reserved.</div>