@import url('https://fonts.googleapis.com/css2?family=Hind&family=Open+Sans&family=Plus+Jakarta+Sans&display=swap');
$font-title: 'Plus Jakarta Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-logo: 'Plus Jakarta Sans', sans-serif;

$black: #2A2627;
$white: #fff;
$white-off: #FCF7F8;

$grey-1: #f4f4f4;
$grey-2: #e1dad8;
$grey-3: #293241;
$grey-4: #343b43;
$grey-5: #2D3142;

$yellow: #FFCB47;
$orange: #FFA400;
$orange-dark: #db8504;
$red: #dd1c1a;
$red-dark: #832232;
$pink: #EF6461;
$purple: #391463;
$blue-darker: #3D5A80;
$blue-dark: #011627;
$blue: #0267C1;
$aqua: #8CFBDE;
$mint: #a9dbcb;
$green: #00B9AE;
$green-dark: #2A7F62;
$green-darker: #225f4b;
$beige: #c59b76;
$brown: #4F270D;

// Link states
$link: $green-dark;
$hover: $green-darker;

$link-light: $green-dark;
$link-light-hover: $grey-3;

$button-primary: $link;
$button-primary-hover: $hover;

// header
$page-header-bg: $white;
$page-header-color: $white;
$page-header-link-color: $white;
$page-header-link-hover-color: $white;
$page-header-btn-link-color: $blue;
$page-header-btn-link-hover-color: $grey-3;

// page colours
$body-bg: $white;
$body-color: $black;
$bg-page-section: $black;
$hero-bg: $grey-1;
$hero-color: $grey-3;

// blocks
$block-bg: $white;
$block-color: $grey-3;

$block-alt-bg: $grey-3;
$block-alt-color: $white;

// footer
$page-footer-bg: $white-off;
$page-footer-color: $grey-3;
$page-footer-link-color: $green-dark;
$page-footer-link-hover-color: $grey-3;

$page-footer-banner: $white-off;
$page-footer-banner-color: $grey-3;